 @font-face {
  font-family: "MainFont";
  src: url("./assets/fonts/Rhizome-RegularTrial.otf") format("otf"),
    url("./assets/fonts/Rhizome-RegularTrial.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyCustomFont2";
  src: url("./assets/fonts/gillsansnova_book.ttf") format("ttf"),
    url("./assets/fonts/gillsansnova_book..ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-color: #242424;
  --white-color: #fff;
}

#Dark {
  background-color: #242424;
}

#Light {
  background-color: #fff;
}

.ml-2 {
  margin-left: 15px;
}

.list-none {
  list-style-type: none;
}

.font-weight-bold{
  font-weight: bold;
}
body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 100%;
  width: 100%;
  font-family: "MainFont", sans-serif;
}

.main-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#Dark .main-header {
  background-color: var(--dark-color);
  color: var(--white-color);
}

#Light .main-header {
  background-color: var(--white-color);
  color: var(--dark-color);
}

.main-nav_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  font-family: "MainFont", sans-serif;
}

#Light .main-nav_link{
  color: var(--dark-color);
}

#Dark .main-nav_link{
  color: var(--white-color);
}


.mobile_main-nav_link{
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--main-color);
  text-decoration: none;
}

.mobile_main-nav_link .icon-menu{
  right: -10px;
  font-weight: bold;
}

.mobile-list {
  font-size: 16px;
}

.mobile_main-nav_link{
  font-size: 16px;
  font-weight: bold;
}
#Light .mobile-list{
  border-bottom:1px solid var(--dark-color);
}

#Dark .mobile-list{
  border-bottom:1px solid var(--white-color);
}

.mobile-list-theme svg{
  position: relative;
  left: 10px;
  bottom: 1px;
}

#Dark .main-nav_link::after,
#Dark .active-link::after {
  background-color: var(--white-color); 
}

#Light .main-nav_link::after,
#Light .active-link::after {
  background-color: var(--dark-color); 
}

.main-nav_link,
.active-link {
  position: relative;
}

.main-nav_link::after,
.active-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.active-link::after {
  transform: scaleX(1);
}

.main-nav_link:hover::after {
  transform: scaleX(1);
}
.active-link::after {
  transform: scaleX(1);
}

.main-nav_link:hover::after {
  transform: scaleX(1);
}

.language-dropdown {
  border: none;
  background: none;
}

.language-dropdown img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

#Dark .dropdown-menu{
  background-color: var(--dark-color);
  color: var(--white-color);
}

#Dark .dropdown-menu .dropdown-item{
  color: var(--white-color);

}

#Dark .dropdown-menu .dropdown-item:hover{
  color: var(--dark-color);
}

.dropdown{
  padding: 0 0 0 24px;
}

.dropdown-menu span {
  margin-left: 15px;
  font-size: 18px;
}

.dropdown-item:active {
  color: var(--main-color);
  background-color: var(--bs-dropdown-link-hover-bg);
}

.icon-menu {
  right: 5px;
  bottom: 2px;
}

.rounded-small-flag {
  object-fit: cover;
  object-position: 50% 50%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.active-lang {
  box-shadow: 0 0 8px 2px rgba(58, 141, 255, 0.5);
  border: none;
}

.banner {
  background-color: #1c171d;
  width: 100%;
  height: 436px;
  margin-bottom: 40px;
  overflow: hidden;
}

.intro-content {
  bottom: 120px;
  left: 40px;
  color: #fff;
}

.intro-content h1 {
  font-weight: bold;
}

.intro-content p {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.banner picture {
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-box {
  cursor: pointer;
}

#Dark .categories h3{
  color: var(--white-color);
}

#Dark .category-label {
  color: var(--white-color);
}

#Light .category-image{
  background: var(--white-color);
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
}

#Dark .category-image{
  background: var(--dark-color);
  box-shadow: 0px 10px 40px rgba(255, 255, 255, 0.1); 
}

.category-image {
  border-radius: 20px;
  padding: 25px;
  transition: color 0.3s, background-color 0.3s;
}

#Light .category-image:hover {
  background-color: var(--dark-color);
}

#Light .active-category {
  background-color: var(--dark-color);
}


#Light .active-category svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(252deg)
    brightness(108%) contrast(105%);
}

#Light .category-image:hover svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(252deg)
    brightness(108%) contrast(105%);
}

#Dark .category-image:hover {
  background-color: var(--white-color); 
}

#Dark .active-category {
  background-color: var(--white-color);
}

#Dark .active-category svg {
  filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg)
    brightness(100%) contrast(100%)!important; 
}

#Dark .category-image svg{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(252deg)
  brightness(108%) contrast(105%);
}

#Dark .category-image:hover svg {
  filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg)
    brightness(100%) contrast(100%);
}

#Dark .dark-theme svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(252deg)
    brightness(108%) contrast(105%);
}


.category-label {
  font-size: 12px;
  font-weight: bold;
}

.category-image svg {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.card{
  border:none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#Dark .card{
  background: var(--dark-color);
  color:var(--white-color);
}

.product-col {
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card img{
  height: 270px;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.card-body{
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

#Dark .card-body{
  box-shadow: 0px 10px 40px rgba(255, 255, 255, 0.1);
}


#Dark .products h3{
  color: var(--white-color);;
}


#Dark .product-label{
  color: var(--white-color);
}

#Dark .product-title{
  color: var(--white-color);
}

#Dark .price{
  color: var(--white-color);

}

#Dark .top-footer{
  color: var(--white-color);

}
.social-media ul{
  padding: 0 0 0 0;
}
#Dark .social-media{
  color: var(--white-color);
}

#Dark .bottom-footer{
  color: var(--white-color);
}

#Dark .legal-list ul li a {
  color: var(--white-color);
}

#Light .legal-list ul li a {
  color: var(--dark-color);

}

.legal-list ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  font-family: "MainFont", sans-serif;
}

#Dark .legal-list{
  color: var(--white-color);
}

#Dark .social-media ul li a svg{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(252deg)
  brightness(108%) contrast(105%);
}

@media screen and (min-width: 768px) {
  .intro-content {
      max-width: 560px;
  }
}

@media screen and (max-width:991px){
  .product-col{
    margin-bottom: 20px;
  }
}

@media screen and (max-width:767px) {
  h1{
    font-size: 24px;
    text-align: center;
  }

  p{
    font-size: 16px!important;
  }

  .intro-content p{
    text-align: center;
  }
  h3{
    font-size: 20px;
    text-align: center;
  }
  .card{
    margin: 0 auto;
  }

  .logo-footer{
    display: block;
    margin: 0 auto 20px auto;
  }

  .navigation-footer ul{
    padding: 0;
  }

  .legal-list ul li {
    text-align: center;
  }

  .navigation-footer ul li{
    margin-bottom: 10px;
    text-align: center;
  }

  .social-media{
    text-align: center;
  }
}